<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="CPG Development" content="CPG Development Website" />
  <meta name="description" content="CPG Development: Custom Websites, Apps, SEO and SMM Solutions">
  <title>CPG Development Custom Websites, Apps & Web Solutions</title>
  <link rel="canonical" href="https://cpg.dev/" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>

  <!-- load particle.js -->
  <script>
    window.onload = function () {
      Particles.init({
        selector: '.background',
        connectParticles: true,
        color: "#32CD32",
        responsive: [{
            breakpoint: 768,
            options: {
              maxParticles: 80,
              connectParticles: true,
              speed: 1.5
            }
          },
          {
            breakpoint: 660,
            options: {
              maxParticles: 40,
              connectParticles: true,
              speed: 1.5
            }
          }
        ]
      });
    };
  </script>

  <!-- attach CSS styles -->
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="stylesheets/cpg.css" rel="stylesheet" />
  <link href="stylesheets/portfolio.css" rel="stylesheet" />


</head>

<body>

  <canvas class="background"></canvas>

  <img src="/images/white-text-logo.png" class="responsive-image" alt="CPG logo" />
  </a>


  <div class="row" id="bodyParagraph">
    <div class="col">
      <img src="/images/complete-violet.png
      " class="responsive-image" alt="CPG logo" />

    </div>
  </div>


  <div class="row" id="bodyParagraph">
    <div class="col">
      <h1>Comprehensive Web Services to Empower Your Business</h1>
      <h2>Your One-Stop Solution for All Web Needs</h2>
      <p class="landingParagragh">At CPG Development, we handle every aspect of your web presence, from choosing the perfect domain to the final deployment of your site and everything in between.
      </p>
    </div>
  </div>

  <div class="row" id="bodyParagraph">
    <div class="col">
      <h2>Expert SEO and Social Media Management</h2>
      <p class="landingParagragh">Enhance your online visibility with our expert SEO (Search Engine Optimization) services and comprehensive SMM (Social Media Management). We ensure your website ranks high in search results and your social media presence is engaging and effective.
      </p>
    </div>
  </div>

  <div class="row" id="bodyParagraph">
    <div class="col">
      <h2>Advanced AI Prompt Engineering</h2>
      <p class="landingParagragh">Leverage the power of AI with our prompt engineering services. We specialize in generating high-quality images, optimizing content for the web, and enhancing business documents.
      </p>
    </div>
  </div>

  <div class="row" id="bodyParagraph">
    <div class="col">
      <h2>Focus on Your Business, We'll Handle the Rest</h2>
      <p class="landingParagragh">We take care of all these technical aspects so you can concentrate on what you do best—running your business. Let us manage your web needs, ensuring your online presence is robust, effective, and up-to-date.
        <h3 id="completeWebSolutions">ALWAYS FREE, NO OBLIGATION QUOTES & CONSULTATIONS</h3>
      </p>
    </div>
  </div>

  <div class="container" id="mern">
    <div class="row">
      <div class="col navTags">
        <a class="navTags" href="tel:+12029034826" target="_blank" rel="noopener noreferrer">CALL CPG</a>
      </div>

      <div class="col navTags">
        <a class="navTags" href="mailto:pavance40@gmail.com" target="_blank" rel="noopener noreferrer">EMAIL CPG
        </a>
      </div>

    </div>
  </div>

  <div class="container" id="mern">
    <div class="row">

      <div class="col-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/MERN-logo.png" alt="Our tools"
          class="responsive-image">
      </div>

      <div class="col-6">
        <img src="/images/OG-WordPress.png" alt="wordpress logo" class="responsive-image">
      </div>

    </div>
  </div>

  <!-- start portfolio -->


      <!-- <div class="row text-center">
      <div class="col">
        <h5 class="text-center">Blog sites</h5>
        <a href="https://go-native.herokuapp.com/" target="_blank" rel="noopener noreferrer">
          <img src="/images/goNative.png" alt="Small Business/Non-Profit websites"
            class="responsive-image myImg" id="blogSites">
        </a>
      </div>
      <div class="row"></div> -->
    

      <div class="row">

        <div class="col">
          <h5 class="text-center">Law Firms</h5>
          <a href="https://www.thpfamilylaw.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/1qyhuzkqotw0esr/THPImageNEW.png?raw=1" id="THP_img"
              alt="Small Business/Non-Profit websites" class="responsive-image myImg">
          </a>
        </div>

        <div class="col">
          <h5 class="text-center">Non-Profits</h5>
          <a href="https://www.friendsofroam.org" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/5gpc2yw4po9wnf4/FOR.png?raw=1" alt="Dynamic Web Apps"
              class="responsive-image myImg"></a>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <h5 class="text-center">Integrated App</h5>
          <a href="https://www.rockofagesmusic.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/8s8ntcq10up4irw/roam.jpg?raw=1"
              alt="Business Sites w/integrated Social Apps" class="responsive-image myImg">
          </a>
        </div>

        <div class="col">
          <h5 class="text-center">Social Apps</h5>
          <a href="https://www.bodhishare.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/00nzjwwj671fm9q/bodhishare.jpg?raw=1" alt="Dynamic Web Apps"
              class="responsive-image myImg">
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <h5 class="text-center">Consulting Firms</h5>
          <a href="https://www.huguleyllc.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/s3fitp0t7whqivt/HuguleySite.png?raw=1" alt="Dynamic Web Apps"
              class="responsive-image myImg">
          </a>
        </div>

        <div class="col">
          <h5 class="text-center">Small Businesses</h5>
          <a href="https://www.adjdriverimprovement.com/" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/9dz9oxzzxi6fxp7/adj.png?raw=1" alt="Local Businesses"
              class="responsive-image myImg">
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <h5 class="text-center">eCommerce Stores</h5>
          <a href="https://mhrukzdm.elementor.cloud/" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/coejlv6zi15cc2mf8vky3/vinbio.png?raw=1" alt="eCommerce" class="responsive-image myImg">
          </a>
        </div>
        

        <div class="col">
         
        </div>

      </div>


      <div id="otherworkwedo">
        <h2 class="text-center">Other work we do</h2>


        <div class="row">

          <div class="col">
            <h5 class="text-center">React Apps</h5>
            <img src="/images/freeWurk.png" alt="Blog Apps" class="responsive-image myImg">
          </div>

          <div class="col">
            <h5 class="text-center">Writer's Blogs</h5>
            <img src="https://www.dropbox.com/s/8r6fk7bnct7r5l9/blogImage.png?raw=1" alt="Blog Apps"
              class="responsive-image myImg">
          </div>

        </div>


        <div class="row">

          <div class="col">
            <h5 class="text-center">Artist's Portfolios</h5>
            <img src="https://www.dropbox.com/s/jxnv3qhijskpha7/charlessite.jpg?raw=1"
              alt="Artist and Musician portfolio sites" class="responsive-image myImg">
          </div>

          <div class="col">
            <h5 class="text-center">Retro Styles</h5>
            <img src="https://www.dropbox.com/s/a86d0tdgz4w0cn9/patience.jpg?raw=1" alt="Retro"
              class="responsive-image myImg">
          </div>

        </div>
      </div>

      <!-- end portfolio -->

      <div class="wordpressSites container">
        <h2 class="seosmm" style="padding-left:10px; padding-right:10px;">Custom Wordpress sites</h2>
          <p class="landingParagragh">
          Many companies prefer using a Content Management System (CMS) like WordPress for their websites due to its numerous advantages in managing large amounts of content. At CPG, we have extensive experience with popular WordPress themes, including Salient, Elementor, and many others, customizing these themes to match your company's unique specifications. While WordPress sites may not be as customizable or versatile as fully custom websites, they offer faster build times and thousands of plugins to add features, resulting in clean and professional-looking sites. Additionally, our team can write custom JavaScript, PHP, and CSS code to further enhance and personalize your WordPress site, ensuring it stands out while maintaining a professional appearance. WordPress is user-friendly, making it easy for non-developers to manage content, and with pre-built themes and plugins, sites can be launched quickly. At CPG, we ensure all images have descriptive alt text, use easy-to-read fonts and high-contrast colors, and make sure interactive elements are accessible via keyboard and compatible with various assistive technologies, creating an inclusive and accessible website for all users.
        </p>
       

        <h2 class="seosmm">Full Custom Websites/webApps</h2>
        <p class="landingParagragh">
          Built from the ground up using a combination of advanced technologies, with the web trinity (HTML5, CSS, and JavaScript) at the core, our custom websites and web apps provide unparalleled performance and flexibility. At CPG, we also employ the MERN stack—MongoDB, ExpressJs, ReactJs, and NodeJs—when appropriate, and integrate other auxiliary technologies as needed to ensure your project is exceptional and unique. Unlike template-based sites, our full custom websites and web apps offer granular control, allowing you to fully reflect your business's vision and scale as needed. This approach is ideal for businesses planning to add complex features or expand in the future. Our commitment to SEO and accessibility ensures your site is not only high-performing but also user-friendly and inclusive, with descriptive alt text for images, easy-to-read fonts, high-contrast colors, and compatibility with assistive technologies. Let us build a custom solution that perfectly aligns with your business goals and provides complete control over your high-performance application.
        </p>
      </div>

      <div class="container">
        <h2 class="seosmm">SMM (social media management) solutions</h2>
        <p class="landingParagragh" id="fullCustom">
          Post business-appropriate content on the company’s behalf at optimal days and times. Occasionally, content from a company liaison may be needed, but this is not generally required.
        </p>
        <p class="landingParagragh" id="fullCustom">
          Respond appropriately to comments, inquiries, and friend requests, acting as a conduit for the company.
        </p>
        <p class="landingParagragh" id="fullCustom">
          Identify and post to relevant groups and explore other strategies to expand the company’s network and web presence.
        </p>
        <p class="landingParagragh" id="fullCustom">
          Utilize social media to direct web traffic to the company website, encouraging users to take desired actions.
        </p>
      </div>

      <div class="container wordpressSites">
        <h2 class="seosmm"> SEO (Search Engine Optimization) solutions</h2>
        <p class="landingParagragh" id="fullCustom">
          As a complete solutions development company, CPG can not only suggest but also implement any changes indicated by data to improve SEO, all-inclusive within our pricing structure.
        </p>
        <p class="landingParagragh">Install SEO tools on the company’s website and utilize external web analytics to optimize traffic metrics across both desktop and mobile devices.</p>
        <p class="landingParagragh">Stay up-to-date with current SEO methods and trends, and implement appropriate SEO techniques and changes to the website as necessary.</p>
        <p class="landingParagragh" id="choose">Choose a plan.<br><br><span id="smm-seo">SSM 2 & SEO 2
          </span>
          is
          recommended for most small and mid-sized companies that are
          trying to grow their customer base and network.</p>
      </div>

      <div>
        <h3>Your data security and privacy matter.</h3>
        <p class="landingParagragh">
          Any databases we build and any code we write for your project belong to you. CPG will never sell your data, and your project will have SSL security by default.
        </p>
      </div>

      <div>

        <h3>Summary</h3>
        <p class="landingParagragh">Each client receives customizable, personal care throughout the entire life-cycle of their website or application.
        </p>
        <p class="landingParagragh">
          Every website or web app we build is mobile-responsive and SSL (HTTPS) secure by default, ensuring your project looks and performs great on all devices and platforms.
        </p>

        <p class="landingParagragh">You own all your data, and it will never be shared without your explicit permission.
        </p>

        <p class="landingParagragh">
          We study your business and its competitors, analyze industry standards, coordinate with you, and leverage this research data to build exactly what you need.</p>

        <p class="landingParagragh">Each project is personal to us, and we aim to build long-term relationships with our clients..</p>
      </div>

      <div class="container" id="payPalContainer">
        <!-- PayPal subscription billing button option here -->
        <h3>Set up a monthly payment subscription for CPG solutions, cancel anytime</h3>
        <div class="row" id="paypalTop">
          <div class="col">
            <form class="PayPal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="KH4XHJPKJ4Y8U">
              <input type="image" alt="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif"
                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="paypal" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                height="1">
            </form>
          </div>
        </div>


        <!-- PayPal one time payment billing button option here -->
        <h3>Make a one-time payment for CPG solutions</h3>
        <div class="row" id="#paypalBottom">

          <div class="col">
            <form class="PayPal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="K8PKBY99KHU9Y">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0"
                name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="paypal" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                height="1">
            </form>
          </div>
        </div>
      </div>

      <div id="bottomLogo">
        <a href="/">
          <img src="/images/white-text-logo.png" class="responsive-image" alt="CPG logo" />
        </a>
      </div>

      <div class="container" id="mern">
        <div class="row">
          <div class="col navTags">
            <a class="navTags" href="tel:+12029034826" target="_blank" rel="noopener noreferrer">CALL CPG</a>
          </div>

          <div class="col navTags">
            <a class="navTags" href="mailto:pavance40@gmail.com" target="_blank" rel="noopener noreferrer">EMAIL CPG
            </a>
          </div>

        </div>
      </div>

      <div class="container">
        <h4>© 2024 CPG Development, LLC All Rights Reserved</h4>
      </div>


      <script src="js/jquery-1.10.2.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
      <script src="path/to/particles.min.js"></script>


</body>

</html>