<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Script Tutorials" />
  <title>CPG Development</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script>
    window.onload = function () {
      Particles.init({
        selector: '.background',
        connectParticles: true,
        color: "#00BFFF",
        responsive: [{
            breakpoint: 768,
            options: {
              maxParticles: 80,
              connectParticles: true,
              speed: 1.5
            }
          },
          {
            breakpoint: 660,
            options: {
              maxParticles: 40,
              connectParticles: true,
              speed: 1.5
            }
          }
        ]
      });
    };
  </script>

  <!-- attach CSS styles -->
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="stylesheets/cpg.css" rel="stylesheet" />
</head>

<body>

  <div id="particles-js"></div>

  <!-- navigation panel -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">CPG Development</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#what we build">What We Build</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="home" class="home">
    <div class="text-vcenter">
      <h3>Connecting Local Businesses and Artists With Their Communities</h3>
    </div>
  </div>

  <div id="what we build" class="container">
    <div class="grid">
      <br>
      <br>

      <div class="cell">
        <h4 class="text-center">Artists</h4>
        <a href="http://www.charleswhetstone.com">
          <img src="/images/charlessite.jpg" alt="Artist and Musician portfolio sites"
          class="responsive-image myImg"></a>
      </div>

      <div class="cell">
        <h4 class="text-center">Non-Profits</h4>
        <a href="https://www.friendsofroam.org">
        <img src="/images/FOR.png" alt="Dynamic Web Apps" class="responsive-image myImg"></a>
      </div>

      <div class="cell">
        <h4 class="text-center">Writers and Thought Leaders</h4>
        <img src="/images/blogImage.png" alt="Blog Apps" class="responsive-image myImg">
      </div>

      <div class="cell">
        <h4 class="text-center">Startups/Local Businesses</h4>
        <a href="https://www.thpfamilylaw.com">
        <img src="/images/THPImageNEW.png" id="THP_img" alt="Small Business/Non-Profit websites" class="responsive-image myImg"></a>
      </div>

      <div class="cell">
        <h4 class="text-center">Dynamic Social Web Apps</h4>
        <a href="http://www.bodhishare.com">
        <img src="/images/bodhishare.jpg" alt="Dynamic Web Apps" class="responsive-image myImg"></a>
      </div>

      <div class="cell">
        <h4 class="text-center">Business Sites w/ Integrated Social App</h4>
        <a href="https://tranquil-caverns-74813.herokuapp.com/">
        <img src="/images/roam.jpg" alt="Business Sites w/integrated Social Apps" class="responsive-image myImg"></a>
      </div>

      <div class="cell" id="bottom-cell">
        <h4 class="text-center">Custom Web Animations</h4>
        <img src="/images/matrix.jpg" alt="Custom Web Animations" class="responsive-image myImg">
      </div>
    </div>
  </div>

  <div id="information" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Our webstack and additional tools</h2>
            </div>
            <div class="panel-body lead">
              We use many tools to build your applications for scalability,security, and to comply with modern specifications of inter-operability. With these considerations in mind, we use the MERN stack as our foundation. It is a very popular webstack and is a cutting-edge bundle of web technologies. The MERN stack stands for:
              Mongo: our database service,
              Express: our back-end framework,
              React: our front-end framework,
              Node: a JavaScript runtime for building server-side or desktop applications. Other tools may be deployed in the effort to create the best product possible. Technologies are continuosly in flux and must be adjusted to/for.
            </div>
            <br>
            <img src="/images/mern-img.png" alt="Our tools" class="responsive-image myImg">
          </div>
          <br>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Your project is our passion</h2>
            </div>
            <div class="panel-body lead">
              With CPG, you know that we understand your community because we are part of your community.
              We offer fair prices, personalized care, with a focus on small enterprises and personal projects. We want
              to build healthy relationships with our customers and the community as a whole.
              Our pricing is straight forward, with no hidden costs so that you know what your budget will get you.
            </div>
            <br>
            <a href="/pricing" class="btn btn-secondary" role="button">our pricing structure</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- attach JavaScripts -->

  <canvas class="background"></canvas>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="path/to/particles.min.js"></script>

</body>

</html>