<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="CPG Development" content="CPG Development Website" />
  <meta name="description" content="CPG Development Custom Websites, Apps, SEO and SMM Solutions">
  <title>CPG Development Custom Websites, Apps & Web Solutions</title>
  <link rel="canonical" href="https://www.cpgdev.net/" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

  <!-- load particle.js -->
  <script>
    window.onload = function () {
      Particles.init({
        selector: '.background',
        connectParticles: true,
        color: "#00BFFF",
        responsive: [{
          breakpoint: 768,
          options: {
            maxParticles: 80,
            connectParticles: true,
            speed: 1.5
          }
        },
        {
          breakpoint: 660,
          options: {
            maxParticles: 40,
            connectParticles: true,
            speed: 1.5
          }
        }
        ]
      });
    };
  </script>

  <!-- attach CSS styles -->
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="stylesheets/cpg.css" rel="stylesheet" />
  <link href="stylesheets/portfolio.css" rel="stylesheet" />


</head>

<body>

  <canvas class="background"></canvas>

  <img src="/images/white-text-logo.png" class="responsive-image" alt="CPG logo" />
  </a>


  <div class="row" id="bodyParagraph">
    <div class="col">
      <img src="/images/customWebSolutions.png
      " class="responsive-image" alt="CPG logo" />

    </div>
  </div>


  <div class="row" id="bodyParagraph">
    <div class="col">
      <p class="landingParagragh">We provide for all of your web needs, from choosing a domain to final deployment &
        everything in between. From SEO
        (search engine optimization) to SMM (social media management) and all maintenance of your website.
        We do all of these things so that you can concentrate on your business. We'll handle this part.
      <h1 id="completeWebSolutions">ALWAYS FREE, NO OBLIGATION QUOTES & CONSULTATIONS</h1>
      <h3>For inquiries or to set up a free consultation:</h3>

      </p>

    </div>
  </div>

  <div class="container" id="mern">
    <div class="row">
      <div class="col navTags">
        <a class="navTags" href="tel:+12029034826" target="_blank" rel="noopener noreferrer">DM CPG</a>
      </div>

      <div class="col navTags">
        <a class="navTags" href="mailto:pavance40@gmail.com" target="_blank" rel="noopener noreferrer">EMAIL CPG
        </a>
      </div>

    </div>
  </div>

  <div class="container" id="mern">
    <div class="row">

      <div class="col-6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/94/MERN-logo.png" alt="Our tools"
          class="responsive-image">
      </div>

      <div class="col-6">
        <img src="/images/OG-WordPress.png" alt="wordpress logo" class="responsive-image">
      </div>

    </div>
  </div>

  <!-- start portfolio -->

  <div id="whatWeBuild" class="container">
    <h2 class="text-center">Live sites</h2>
    <div class="row">

      <div class="col">
        <h5 class="text-center">Services sites</h5>
        <a href="https://www.galvanguitar.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/galvan_guitar.png" id="THP_img" alt="Small Business/Non-Profit websites"
            class="responsive-image myImg">
        </a>
      </div>


      <div class="col">
        <h5 class="text-center">Blog sites</h5>
        <a href="https://www.gonativeva.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/goNative.png" id="THP_img" alt="Small Business/Non-Profit websites"
            class="responsive-image myImg">
        </a>
      </div>


      <div class="row">

        <div class="col">
          <h5 class="text-center">Law Firms</h5>
          <a href="https://www.thpfamilylaw.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/1qyhuzkqotw0esr/THPImageNEW.png?raw=1" id="THP_img"
              alt="Small Business/Non-Profit websites" class="responsive-image myImg">
          </a>
        </div>

        <div class="col">
          <h5 class="text-center">Non-Profits</h5>
          <a href="https://www.friendsofroam.org" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/5gpc2yw4po9wnf4/FOR.png?raw=1" alt="Dynamic Web Apps"
              class="responsive-image myImg"></a>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <h5 class="text-center">Integrated App</h5>
          <a href="https://www.rockofagesmusic.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/8s8ntcq10up4irw/roam.jpg?raw=1"
              alt="Business Sites w/integrated Social Apps" class="responsive-image myImg">
          </a>
        </div>

        <div class="col">
          <h5 class="text-center">Social Apps</h5>
          <a href="https://www.bodhishare.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/00nzjwwj671fm9q/bodhishare.jpg?raw=1" alt="Dynamic Web Apps"
              class="responsive-image myImg">
          </a>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <h5 class="text-center">Consulting Firms</h5>
          <a href="https://www.huguleyllc.com" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/s3fitp0t7whqivt/HuguleySite.png?raw=1" alt="Dynamic Web Apps"
              class="responsive-image myImg">
          </a>
        </div>

        <div class="col">
          <h5 class="text-center">Small Businesses</h5>
          <a href="https://www.adjdriverimprovement.com/" target="_blank" rel="noopener noreferrer">
            <img src="https://www.dropbox.com/s/9dz9oxzzxi6fxp7/adj.png?raw=1" alt="Local Businesses"
              class="responsive-image myImg">
          </a>
        </div>

      </div>


      <div id="otherworkwedo">
        <h2 class="text-center">Other work we do</h2>


        <div class="row">

          <div class="col">
            <h5 class="text-center">Node/ReactApps</h5>
            <img src="/images/freeWurk.png" alt="Blog Apps" class="responsive-image myImg">
          </div>

          <div class="col">
            <h5 class="text-center">Writer's Blogs</h5>
            <img src="https://www.dropbox.com/s/8r6fk7bnct7r5l9/blogImage.png?raw=1" alt="Blog Apps"
              class="responsive-image myImg">
          </div>

        </div>


        <div class="row">

          <div class="col">
            <h5 class="text-center">Artist's Portfolios</h5>
            <img src="https://www.dropbox.com/s/jxnv3qhijskpha7/charlessite.jpg?raw=1"
              alt="Artist and Musician portfolio sites" class="responsive-image myImg">
          </div>

          <div class="col">
            <h5 class="text-center">Retro</h5>
            <img src="https://www.dropbox.com/s/a86d0tdgz4w0cn9/patience.jpg?raw=1" alt="Retro"
              class="responsive-image myImg">
          </div>

        </div>
      </div>

      <!-- end portfolio -->

      <div>
        <h2 class="seosmm">Custom Wordpress sites</h2>
        <p class="landingParagragh" id="wordpress">
          Some companies prefer to use a Content Management System (CMS) like Wordpress. Wordpress sites account for a
          large percentage of websites on the internet because they provide for many advantages when managing large
          amounts of content. CPG has extensive experience with most of the most popular Wordpress themes, including
          Salient, Elementor, and many others. This means that we know how to customize these themes to match your
          company's unique specifications. Wordpress sites aren't as customizable or versatile as fully custom websites,
          but they can be build faster,
          there are thousands of plugins available to add features and they look clean and professional. CPG can also
          write custom Javascript, PHP and CSS code to further enhance and customize a Wordpress site.
        </p>


        <h2 class="seosmm">Fully Custom Websites/webApps</h2>
        <p class="landingParagragh" id="fullCustom">
          Built from the ground up using a combination of technologies, with the webTrinity (HTML5, CSS, and Javascript)
          at the core. We also sometimes employ all or parts of the amazing "MERN stack" : MongoDB, ExpressJs, ReactJs
          and NodeJs when appropriate for the build, and may integrate other auxilary technologies. Whichever
          technologies are needed to make your project incredible and unique, CPG will use. Fully Custom
          Websites/webApps don't use templates/themes like Wordpress sites. Full custom Websites/webApps are very
          specific and unique. Granular level control is what this option
          gives you, so that you can fully reflect your business's vision. Fully Custom Websites/webApps are built to
          scale and provide you with full control of your unique, high-performacs application. If you expect to need/add
          complex features in the future, or if your business plans to expand, this is our best solution.
        </p>
      </div>

      <div class="container">
        <h2 class="seosmm">SMM (social media management) solutions</h2>
        <p class="landingParagragh" id="fullCustom">
          Post business appropriate content on the company’s behalf at rotating, optimal days/times. Content from
          company liaison may be required in some cases, but not generally.
        </p>
        <p class="landingParagragh" id="fullCustom">
          Respond appropriately to comments, inquiries, friend requests, etc., as a conduit for the company.
        </p>
        <p class="landingParagragh" id="fullCustom">
          Find groups to post to and find other ways to expand the company’s network and web presence.
        </p>
        <p class="landingParagragh" id="fullCustom">
          Use Social Media to direct web traffic to the company website where the user can take actions.
        </p>

        <h4>SMM Tier 1: Post ONCE/week on up to 3 social networks (3 posts total)</h4>
        <h4>Cost: $700/month</h4>

        <h4>SMM Tier 2: Post TWICE/week on up to 3 social networks (6 posts total)</h4>
        <h4>Cost: $1000/month</h4>

        <h4>SMM Tier 3: Post THRICE/week on up to 3 social networks (9 posts total)</h4>
        <h4>Cost: $1400/month</h4>

        <h4>SMM CUSTOM: If your business requires a custom SMM solution, we will accomodate</h4>
        <h4>Cost: custom</h4>
      </div>

      <div class="container">
        <h2 class="seosmm"> SEO (Search Engine Optimization) solutions</h2>
        <p class="landingParagragh" id="fullCustom">
          Because CPG is a complete solutions development company, we can not only suggest, but also implement any
          changes that the data
          suggests would help improve SEO, all inclusive within the pricing structure.
        </p>
        <h4>SEO 1: 10 hours/month $700</h4>
        <h4>SEO 2: 15 hours/month $1000</h4>
        <h4>SEO 3: 20 hours/month $1400</h4>
        <p class="landingParagragh">Install SEO tools into the company’s website and employ external web analytics to
          optimize the website's traffic metrics on cross-platform desktop and mobile devices.</p>
        <p class="landingParagragh"> Stay up-to-date with current SEO methods and trends, and implement appropriate
          SEO techniques and changes
          to the website as necessary.</p>
        <p class="landingParagragh">Choose a plan. <span id="smm-seo">SSM 2 & SEO 2 ($2000/month)</span> is
          recommended for most small and mid-sized companies that are
          trying to grow their customer base and network.</p>
      </div>

      <div>
        <h3>Your data security and privacy matter.</h3>
        <p class="landingParagragh">
          Any databases that we build and any code that we write that is associated with your project belongs to you.
          CPG will
          never sell your data and your project will have SSL security by default.
        </p>
      </div>

      <div>

        <h3>Summary</h3>
        <p class="landingParagragh">Our pricing is far below industry standards, and each client gets customizable,
          personal care for the full life-cycle of the website/application.
        </p>
        <p class="landingParagragh">Every website/webApp that we build is mobile-responsive and SSL(HTTPS) secure by
          default. Your project will look and perform great on all devices and platforms.
        </p>

        <p class="landingParagragh">You own all data and it will never be shared without your explicit permission.
        </p>

        <p class="landingParagragh">We study your business and it's competitors, analyze the standards for your field,
          coordinate with you and leverage this research data to build exactly what you need.</p>

        <p class="landingParagragh"> Each project is personal to us, and we want to build long-term relationships with
          our clients.</p>
      </div>

      <div class="container" id="payPalContainer">
        <!-- PayPal subscription billing button option here -->
        <h3>Set up a monthly payment subscription for CPG solutions, cancel anytime</h3>
        <div class="row" id="paypalTop">
          <div class="col">
            <form class="PayPal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="KH4XHJPKJ4Y8U">
              <input type="image" alt="paypal" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif"
                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="paypal" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                height="1">
            </form>
          </div>
        </div>


        <!-- PayPal one time payment billing button option here -->
        <h3>Make a one-time payment for CPG solutions</h3>
        <div class="row" id="#paypalBottom">

          <div class="col">
            <form class="PayPal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="K8PKBY99KHU9Y">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0"
                name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="paypal" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                height="1">
            </form>
          </div>
        </div>
      </div>

      <div id="bottomLogo">
        <a href="/">
          <img src="/images/white-text-logo.png" class="responsive-image" alt="CPG logo" />
        </a>
      </div>

      <div class="container" id="mern">
        <div class="row">
          <div class="col navTags">
            <a class="navTags" href="tel:+12029034826" target="_blank" rel="noopener noreferrer">DM CPG</a>
          </div>

          <div class="col navTags">
            <a class="navTags" href="mailto:pavance40@gmail.com" target="_blank" rel="noopener noreferrer">EMAIL CPG
            </a>
          </div>

        </div>
      </div>

      <div class="container">
        <h4>© 2022 CPG Development, LLC All Rights Reserved</h4>
      </div>


      <script src="js/jquery-1.10.2.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/main.js"></script>
      <script src="path/to/particles.min.js"></script>


</body>

</html>