<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Script Tutorials" />
  <title>Portfolio</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>

  <!-- attach CSS styles -->
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="stylesheets/portfolio.css" rel="stylesheet" />
</head>

<body>

  <!-- navigation panel -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">CPG Development</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/Portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contact">Contact Us</a>
        </li>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div id="home" class="home">
    <!-- <div class="text-vcenter">
      <h3>customWebApps</h3>
    </div> -->
  </div>

  <div id="whatWeBuild" class="container">
      <h2 class="text-center">Live sites</h2>
    <div class="row">
      <br>
      <br> 
      

      <div class="col">
        <h5 class="text-center">Dynamic Social Web Apps</h5>
        <a href="https://www.bodhishare.com">
        <img src="/images/bodhishare.jpg" alt="Dynamic Web Apps" class="responsive-image myImg"></a>
      </div>

     

      <div class="col">
        <h5 class="text-center">Non-Profits</h5>
        <a href="https://www.friendsofroam.org">
        <img src="/images/FOR.png" alt="Dynamic Web Apps" class="responsive-image myImg"></a>
      </div>
    </div>

    <div class="row">

        <div class="col">
            <h5 class="text-center">Local Businesses</h5>
            <a href="https://www.adjdriverimprovement.com/">
            <img src="/images/adj.png" alt="Local Businesses" class="responsive-image myImg"></a>
          </div>

       

      <div class="col">
        <h5 class="text-center">Law Firms</h5>
        <a href="https://www.thpfamilylaw.com">
        <img src="/images/THPImageNEW.png" id="THP_img" alt="Small Business/Non-Profit websites" class="responsive-image myImg"></a>
      </div>
    </div>

    <div class="row">
        <div class="col" id="Thad">
            <h5 class="text-center">Consulting/Lobbying Firms</h5>
            <a href="https://www.huguleyllc.com">
            <img src="/images/HuguleySite.png" alt="Dynamic Web Apps" class="responsive-image myImg"></a>
          </div>
      

      <div class="col">
        <h5 class="text-center">Sites w/ Integrated Social App</h5>
        <a href="https://tranquil-caverns-74813.herokuapp.com/">
        <img src="/images/roam.jpg" alt="Business Sites w/integrated Social Apps" class="responsive-image myImg"></a>
      </div>
    </div>

    <h2 class="text-center" id="otherworkwedo">Other work we do</h2>
    <div class="row">
      <div class="col">
        <h5 class="text-center">Custom Web Animations</h5>
        <img src="/images/matrix.jpg" alt="Custom Web Animations" class="responsive-image myImg">
      </div>
      
    </div>

    <div class="row">
        
        <div class="col">
            <h5 class="text-center">Writer's Blogs</h5>
            <img src="/images/blogImage.png" alt="Blog Apps" class="responsive-image myImg">
          </div> 
      </div>

      <div class="row">
          <div class="col">
              <h5 class="text-center">Artist's Portfolios</h5>
                <img src="/images/charlessite.jpg" alt="Artist and Musician portfolio sites"
                class="responsive-image myImg">
            </div>
      </div>
  <!-- </div> -->
  </div><!--end container-->

  

  <div class="container" id="mern">
    <div class="row">

        <div class="col-3">
          </div>

      <div class="col-6">
        <img src="/images/mern-img.png" alt="Our tools" class="responsive-image">
      </div>

      <div class="col-3">
        </div>

  </div>
</div>

  <!-- attach JavaScripts -->

  <canvas class="background"></canvas>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="path/to/particles.min.js"></script>

</body>

</html>