<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pricing</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/pricing.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<!-- navigation panel -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">CPG Development</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
  </div><!-- /.navbar-collapse -->
</nav>
 
 
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
     <br>
    <p>We build custom web apps. No templates or one-size-fits-all thinking here. Your needs are specific and unique, and your website should refect you and/or your business's vision.</p>

    <p>Every custom website/app that we build is mobile-responsive and full-stack by default. This means that your site will look great on all devices and that it will be built to scale up as needed.</p>
  
    <p>If you expand or need to add features, your webapp can handle any upgrades without the need for expensive redesigns or re-architecture. This approach is the opposite of industry standards and is unique to CPG. </p>

    <p>We study your business and it's competitors, analyze the standards for your field, and leverage this research data to coordinate with you before we build anything.</p>

    <p>Our customer service is the best in the industry. We are always available to answer questions and concerns. Each project is personal to us, and we want to build long-term relationships with our clients.</p> 
    
    <p>For those clients that want a quick build process or don't really know what they need, we offer basic packages. Keep in mind that these basic packages can also be customized to meet your specifications.</p>

    <h2 id="standardPackages">Standard packages</h2>

    
    <div class="grid">
      
      <div class="card">
        <div class="card-body"> 
          <h5 class="card-title">Standard Website (perfect for artists, photographers, musicians & small businesses)</h5>
          <h5 class="card-title">$2100 includes:</h5>
           <ul class="list-group list-group-flush">
            <li class="list-group-item">web hosting and DNS configuration</li>
            <li class="list-group-item">responsive design (so your site looks great on all devices)</li>
            <li class="list-group-item">customizable navigation bar</li>
            <li class="list-group-item">up to 5 pages of content</li>
            <li class="list-group-item">one year of free standard maintenance*</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dynamic Blog App (perfect for writers, journalists, thought leaders & travelers)</h5>
          <h5 class="card-title">$2600 includes:</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">web hosting and DNS configuration</li>
              <li class="list-group-item">responsive design (so your site looks great on all devices)</li>
              <li class="list-group-item">permissioned actions (login & posting)</li>
              <li class="list-group-item">database integration and storage</li>
              <li class="list-group-item">one year of free standard maintenance*</li>
            </ul>
        </div>
      </div>
          <br>
      <div class="card">
      <div class="card-body">
        <h5 class="card-title">Standard Website w/ Payment Integration (great for businesses and non-profits who need to accept online payments securely)</h5>
        <h5 class="card-title">starting at $3800 (price may vary depending on the eCommerce interface features) includes:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">all Standard Website features (see above)</li>
            <li class="list-group-item">SSL (secure socket layer security integration)</li>
            <li class="list-group-item">eCommerce interface integration w/secure onlne payment solutions</li>
            <li class="list-group-item">SEO (search engine optimization)</li>
            <li class="list-group-item">Google Analytics tracking</li>
          </ul>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dynamic Social Web App</h5>
        <h5 class="card-title">starting at $4200 includes:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">all Standard Website features (see above)</li>
            <li class="list-group-item">permissioned actions on web app (login, posting, comments)</li>
            <li class="list-group-item">database integration and storage</li>
            <li class="list-group-item">up to 5 animation effects</li>
            <li class="list-group-item">pagination (click through numbered pages)</li>
          </ul>
          <br>
        <a href="https://www.bodhishare.com" class="btn btn-info">view live sample app</a>
      </div>
    </div>
      <br>    
      <div class="card">
      <div class="card-body">
        <h5 class="card-title">Business Site w/Integrated Social App (for businesses that want to establish a community ecosystem)</h5>
        <h5 class="card-title">starting at $4900 includes:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">all Standard Website features (see above)</li>
            <li class="list-group-item">all Dynamic Social Web App features (see above)</li>
            <li class="list-group-item">SSL (secure socket layer security integration)</li>
            <li class="list-group-item">SEO (search engine optimization)</li>
            <li class="list-group-item">up to 8 animation effects</li>
          </ul>
          <br>
        <a href="https://tranquil-caverns-74813.herokuapp.com/" class="btn btn-info">view live sample app</a>
      </div>
    </div>
        
  <br>
  <div class="card">
  <div class="card-body">
    <h2 class="display-6"id="àLaCarte">À La Carte Add-Ons</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        payment integration (price dependent upon features)
        <span class="badge badge-primary badge-pill">$800-$1500</span>
      </li>
       <li class="list-group-item d-flex justify-content-between align-items-center">
        extra pages (price dependent upon features)
        <span class="badge badge-primary badge-pill">$100-$500</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        user profiles (Social Apps only - price dependent upon features)
        <span class="badge badge-primary badge-pill">$1200 -$2600</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        animations (price dependent upon complexity)
        <span class="badge badge-primary badge-pill">$200-$2000 each</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        pop-up messages and modals (ex."more info" expanded windows)
        <span class="badge badge-primary badge-pill">$200 each</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        SEO (search engine optimization)
        <span class="badge badge-primary badge-pill">$400-$1000</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        SSL (secure socket layer security)
        <span class="badge badge-primary badge-pill">$400</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        contact form w/ Google reCaptcha anti-spam security (so people can contact you directly through your website securely)
        <span class="badge badge-primary badge-pill">$400</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        If there is a feature that you would like added to your site or app that isn't listed here, or if you would like more details about an add-on, please contact us and we'll get back to you promptly with options and prices. 
        <span class="badge badge-light badge-pill"><a class="nav-link active" id="contactBadge"href="/contact">contact us</a></span>
      </li>
    </ul>
  </div>
</div>
    <p>*One year of free standard maintenance ($660 value) will cover web hosting, yearly third-party SaaS (software as a service) fees and up to 2 minor changes per month.
        Minor changes are limited to: adding links, changing text, replacing images, calendar updates and event updates. 
        Standard maintenance fees will be billed after the first year at a total cost of $660 per year, payable one year from initial deployment date.
        Additional minor changes exceeding the 2 allotted per month will be billed at $100/hour.</p>
  </div>
</div>
</div>

</body>
</html>