<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/pricing.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
  <!-- navigation panel -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class class="navbar-brand" href="/"> <img src="/images/cover.png" style="width: 280px; height: 180px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/examplesOfOurWork">examplesOfOurWork</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/yourProject">yourProject</a>
        </li>
        <li class="nav-item" id="phone">
          <a class="nav-link" href="tel:+12029034826" target="_blank" rel="noopener noreferrer">message</a>
        </li>
        <li class="nav-item" id="email">
          <a class="nav-link" href="mailto:pavance40@gmail.com">
            <label id="email_header">email</label>
          </a>
        </li>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </nav>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      <br>
      <p class="weBuildCustom" id="fullCustom">
        <h3>Fully Custom Websites and Apps</h3> Built from the ground up using a combination of technologies, with the trilogy at its core: HTML5, CSS, and Javascript. We also use Node and React when called for, and many other technologies. We don't use templates or web builders because fully custom webApps are specific and unique. Your website should reflect you and/or your business's vision. Fully custom sites are built to scale if needed, and provide you with full control of the application. If you need to add complex features in the future, this would probably be your best choice. </p>

       <p class="weBuildCustom" id="maintenance">
         Maintenance services for the website are available, if desired. If you choose to maintain the site/app yourself, we will give you/your developer(s) the code. Either way, you own the code, which is not the case with most larger development firms. We also offer social media management services, if needed. Fully custom websites and apps are built upon an agreed upon rate. </p>

      <p class="weBuildCustom" id="CDPC">
        <h3>Custom Development Partnership Contracts</h3>All of the features of Fully Custom Websites and Apps, but based upon an hourly rate, with pre-determined weekly and/or monthly hours. This solution is best for companies that are building out a new web stack, adding features, services, etc., and are growing in size and complexity. The weekly number of hours are initially estimated based upon the complexity of the web application and its goals, so the hours may change either up or down depending upon dynamic requirements and the agreement.

        <p class="weBuildCustom" id="CDPC2">
        A Custom Development Partnership Contract is the best solution for a company that is going to eventually need a development team(s), but doesn’t yet have the budget for a new development department. We architect the application for you, with clean code, so that future developers can just jump in and work, without having to sift through spaghetti code and without having to spend too much time on bugs (all code has bugs, btw). </p>

      <p class="weBuildCustom" id="wordpress">
    
        <h3>Custom Wordpress sites</h3> Wordpress sites aren't as customizable or versatile as fully custom websites, but they can be build faster, there are thousands of plugins available to add features, and they look clean and professional. CPG can also write custom Javascript, PHP, and CSS code to further enhance a Wordpress site. Some companies prefer to have a Content Management System (CMS), like Wordpress.
        
       </p>

       <p class="weBuildCustom" id="wordpress">
    
        <h3>Social Media Management and SEO services</h3> 
        <ul style="list-style-type:none;">
          <li>
            <h4>SMM 1:</h4>
          </li>
          <li>
            10 hours/month $500
          </li>
          <li>
            Post business appropriate content ONCE per week on the company’s behalf at rotating, optimal days/times for up to to 3 social networks. Content from company liaison may be required in some cases, but not generally.
          </li>
          <li>
            Respond appropriately to comments, inquiries, friend requests, etc., as a conduit for the company.
          </li>
          <li>
            Find groups to post to and find other ways to expand the company’s network and web presence.
          </li>
          <li>
            Use Social Media to direct web traffic to the company website where the user can take actions.
          </li>
        </ul>

        <ul style="list-style-type:none;">
          <li>
            <h4>SMM 2:</h4>
          </li>
          <li>
            15 hours/month $750
          </li>
          <li>
            Post business appropriate content TWICE per week on the company’s behalf at rotating, optimal days/times for up to to 4 social networks. Content from company liaison may also be required in some cases, but not generally.
          </li>
          
          <li>
            Respond appropriately to comments, inquiries, friend requests, etc., as a conduit for the company.
          </li>
          <li>
            Find groups to post to and find other ways to expand the company’s network and web presence.
          </li>
          <li>
            Use Social Media to direct web traffic to the company website where the user can take actions.
          </li>
      </ul>

      <ul style="list-style-type:none;">
        <li>
          <h4>SMM 3:</h4>
        </li>
        <li>
          20 hours/month $1000
        </li>
        <li>
          Post business appropriate content THRICE per week on the company’s behalf at rotating, optimal days/times for up to to 5 social networks. As above, content from company liaison may be required in some cases, but not generally.
        </li>
        
        <li>
          Respond appropriately to comments, inquiries, friend requests, etc., as a conduit for the company.
        </li>
        <li>
          Find groups to post to and find other ways to expand the company’s network and web presence.
        </li>
        <li>
          Use Social Media to direct web traffic to the company website where the user can take actions.
    </ul>

    <ul style="list-style-type:none;">
      <li>
        <h4> SEO (Search Engine Optimization) services</h4>
      </li>
      <li>
        Because CPG is a development company, we can not only suggest, but also implement any changes that the data suggests would help improve SEO, all inclusive within the pricing structure.
      </li>
      <li>
        <h4>SEO 1 :</h4>
      </li>
      <li>
        10 hours/month $500
      </li>
      <li>
        <h4>SEO 2:</h4>
      </li>
      <li>
        15 hours/month $750
      </li>
      <li>
        <h4>SEO 3:</h4>
      </li>
      <li>
        20 hours/month $1000
      </li>
      <li>
        <p>Install SEO tools into the company’s website to analyze the company’s website traffic metrics, page speed(s), etc. on cross-platform desktop and mobile devices.</p>
      </li>
      <li>
        <p> Stay up-to-date with current SEO methods and trends, and implement appropriate SEO techniques and changes to the company’s website.</p>
      </li>

      <li>
        <p>Choose a plan. SSM 2 & SEO 2 = $1500/month is recommended for most small and mid-sized companies that are trying to grow their customer base and network.</p>
      </li>
    </ul>


      <p class="weBuildCustom"><h3>Your data security and privacy matter.</h3>
        Any databases that we build and any code that we write that is associated with your project belongs to you. We
        never sell your data and your project will have SSL security by default.</p>

      <p class="weBuildCustom">Every website/webApp that we build is mobile-responsive by default.
      </p>

      <p class="weBuildCustom">We study your business and it's competitors, analyze the standards for your field, coordinate with you, and leverage this research data to build exactly what you need.</p>

      <p class="weBuildCustom"> Each project is personal to us, and we want to build long-term relationships with our
        clients.</p>

      <!-- <p class="weBuildCustom">Use the form below to choose your design.</p> -->

      <p class="weBuildCustom">For those clients that need a quick build process or don't really know yet what they need, we offer standard packages. Keep in mind that these standard packages can later be customized to meet your specifications.</p>



      <h2 id="standardPackages">Standard packages</h2>
    


      <div class="grid">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Static Website (perfect for artists, photographers, musicians & small businesses)
            </h5>
            <!-- <h5 class="card-title">$2100 includes:</h5> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">web hosting and DNS configuration</li>
              <li class="list-group-item">responsive design (so your site looks great on all devices)</li>
              <li class="list-group-item">customizable navigation bar</li>
              <li class="list-group-item">up to 5 pages of content</li>
              <!-- <li class="list-group-item">one year of free standard maintenance*</li> -->
              <li class="list-group-item">SSL (secure socket layer security integration)</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dynamic Blog Apps (perfect for writers, journalists, thought leaders & travelers)
            </h5>
            <!-- <h5 class="card-title">$2600 includes:</h5> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">web hosting and DNS configuration</li>
              <li class="list-group-item">responsive design (so your site looks great on all devices)</li>
              <li class="list-group-item">permissioned actions (login & posting)</li>
              <li class="list-group-item">SSL (secure socket layer security integration)</li>
              <li class="list-group-item">database integration and storage</li>
              <!-- <li class="list-group-item">one year of free standard maintenance*</li> -->
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Standard Websites w/ Payment Integration (great for businesses and non-profits who
              need to accept online payments securely)</h5>
            <!-- <h5 class="card-title">starting at $3800 (price may vary depending on the eCommerce interface features)
              includes:</h5> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">all Standard Website features (see above)</li>
              <li class="list-group-item">SSL (secure socket layer security integration)</li>
              <li class="list-group-item">eCommerce interface integration w/secure onlne payment solutions</li>
              <li class="list-group-item">SEO (search engine optimization)</li>
              <li class="list-group-item">Google Analytics tracking</li>
            </ul>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dynamic Social Web App</h5>
            <!-- <h5 class="card-title">starting at $4200 includes:</h5> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">all Standard Website features (see above)</li>
              <li class="list-group-item">permissioned actions on web app (login, posting, comments)</li>
              <li class="list-group-item">SSL (secure socket layer security integration)</li>
              <li class="list-group-item">database integration and storage</li>
              <li class="list-group-item">up to 5 animation effects</li>
              <li class="list-group-item">pagination (click through numbered pages)</li>
            </ul>
            <br>
            <a href="https://www.bodhishare.com" target="_blank" rel="noopener noreferrer" class="btn btn-info">view
              live sample app</a>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Business Site w/Integrated Social App (for businesses that want to establish a
              community ecosystem)</h5>
            <!-- <h5 class="card-title">starting at $4900 includes:</h5> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">all Standard Website features (see above)</li>
              <li class="list-group-item">all Dynamic Social Web App features (see above)</li>
              <li class="list-group-item">SSL (secure socket layer security integration)</li>
              <li class="list-group-item">SEO (search engine optimization)</li>
              <li class="list-group-item">up to 8 animation effects</li>
            </ul>
            <br>
            <a href="https://rockofagesmusic.herokuapp.com/" target="_blank" rel="noopener noreferrer"
              class="btn btn-info">view
              live
              sample app</a>
          </div>
        </div>

        <br>
        <div class="card">
          <div class="card-body">
            <h2 class="display-6" id="àLaCarte">À La Carte Add-Ons</h2>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                payment integration
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                extra pages
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                user profiles (Social Apps only)
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                animations
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                pop-up messages and modals (ex."more info" expanded windows)
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Advanced SEO (search engine optimization)
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                contact form w/ reCaptcha anti-spam security (so people can contact you directly through your
                website securely)
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                If there is a feature that you would like added to your site or app that isn't listed here, or if you
                would like more details about an add-on, please contact us and we'll get back to you promptly with
                options and prices.
              </li>
            </ul>
          </div>
        </div>

        <h2 id="designYourOwn">Contact CPG for more information</h2>
        <div class="form-group">
          <label class="" for="form_name">name</label>
          <input type="text" class="form-control" id="form_name" name="name" placeholder="your name" required="required"
            data-error="Input is required">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label class="" for="form_phone">phone</label>
          <input type="tel" class="form-control" id="form_phone" name="phone" placeholder="your phone number"
            required="required" data-error="Input is required">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label class="" for="form_email">email</label>
          <input type="email" class="form-control" id="form_email" name="email" placeholder="your email address"
            required="required" data-error="Input is required">
          <div class="help-block with-errors"></div>
        </div>


       <div class="form-group">
         <label class="" for="form_message">message/notes</label>
         <textarea class="form-control" id="form_message" name="message" placeholder="e.g., I would like to have a full-stack Node/React app built for my business, and I need a Wordpress site up quickly for my side business. Please let me know the next steps"
           rows="4" required="required" data-error="Please, leave us a message."></textarea>
         <div class="help-block with-errors"></div>
       </div>
       <div class="form-group">
         <button class="btn btn-lg btn-primary btn-block">send to CPG</button>
       </div>
   </form>
   
 </div>

 <h3>Make a Payment</h3>
 
 <div class="text-center" id="PayPAL">
  <div id="smart-button-container">
    <div style="text-align: center"><label for="description">CPG Web Service Type </label><br><input type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
      <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
    <div style="text-align: center"><label for="amount">Total USD </label><br><input name="amountInput" type="number" id="amount" value="" ></div>
      <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
    <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
      <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
    <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
  </div>
  <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script>
  function initPayPalButton() {
    var description = document.querySelector('#smart-button-container #description');
    var amount = document.querySelector('#smart-button-container #amount');
    var descriptionError = document.querySelector('#smart-button-container #descriptionError');
    var priceError = document.querySelector('#smart-button-container #priceLabelError');
    var invoiceid = document.querySelector('#smart-button-container #invoiceid');
    var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
    var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

    var elArr = [description, amount];

    if (invoiceidDiv.firstChild.innerHTML.length > 1) {
      invoiceidDiv.style.display = "block";
    }

    var purchase_units = [];
    purchase_units[0] = {};
    purchase_units[0].amount = {};

    function validate(event) {
      return event.value.length > 0;
    }

    paypal.Buttons({
      style: {
        color: 'gold',
        shape: 'rect',
        label: 'paypal',
        layout: 'vertical',
        
      },

      onInit: function (data, actions) {
        actions.disable();

        if(invoiceidDiv.style.display === "block") {
          elArr.push(invoiceid);
        }

        elArr.forEach(function (item) {
          item.addEventListener('keyup', function (event) {
            var result = elArr.every(validate);
            if (result) {
              actions.enable();
            } else {
              actions.disable();
            }
          });
        });
      },

      onClick: function () {
        if (description.value.length < 1) {
          descriptionError.style.visibility = "visible";
        } else {
          descriptionError.style.visibility = "hidden";
        }

        if (amount.value.length < 1) {
          priceError.style.visibility = "visible";
        } else {
          priceError.style.visibility = "hidden";
        }

        if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
          invoiceidError.style.visibility = "visible";
        } else {
          invoiceidError.style.visibility = "hidden";
        }

        purchase_units[0].description = description.value;
        purchase_units[0].amount.value = amount.value;

        if(invoiceid.value !== '') {
          purchase_units[0].invoice_id = invoiceid.value;
        }
      },

      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: purchase_units,
        });
      },

      onApprove: function (data, actions) {
        return actions.order.capture().then(function (orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Thank you for your payment!</h3>';

          // Or go to another URL:  actions.redirect('thank_you.html');
          
        });
      },

      onError: function (err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }
  initPayPalButton();
  </script>
 </div>
</div>




</div>
      </div>
    </div>
  </div>

  

</body>

</html>