@font-face {
  font-family: "Occupied";
  src: url("/font/Occupied.eot?") format("eot"),
    url("/font/Occupied.woff") format("woff"),
    url("/font/Occupied.otf") format("otf"),
    url("/font/Occupied.woff2") format("woff2"),
    url("/font/Occupied.ttf") format("truetype"),
    url("/font/Occupied.svg#Occupied") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Occupied;
  background-image: url("/images/pawel-czerwinski-qztBRIrU1FM-unsplash.jpg");
}

.lead {
  color: blueviolet;
}

.jumbotron {
  background-image: url("/images/pawel-czerwinski-qztBRIrU1FM-unsplash.jpg");
}

.navbar-brand:hover {
  border-bottom: 2px solid blueviolet;
  transition: all 0.5s ease-in;
  padding: 10px;
}

li a:hover {
  font-size: 20px;
  border-bottom: 2px solid blueviolet;
  transition: all 0.5s ease-in;
  padding: 10px;
}

.card {
  color: blueviolet;
}

p {
  margin-top: 20px;
}
