html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("/images/Portrait.jpg");
  font-family: Occupied, Arial, sans-seriff;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

h3 {
  color: white;
  margin: 60px;
}

@font-face {
  font-family: "Occupied";
  src: url("/font/Occupied.eot?") format("eot"),
    url("/font/Occupied.woff") format("woff"),
    url("/font/Occupied.otf") format("otf"),
    url("/font/Occupied.woff2") format("woff2"),
    url("/font/Occupied.ttf") format("truetype"),
    url("/font/Occupied.svg#Occupied") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*particles.js animated background*/
/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

#large-header {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#whatWeBuild {
  padding-top: 60px;
  padding-bottom: 60px;
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
/*end particles.js animated background*/

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* additional sections */
#home {
  background-image: url("http://cdn.eso.org/images/screen/eso1049a.jpg");
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
}

.navbar-brand:hover {
  color: #cc6aff;
  border-bottom: 2px solid #00bfff;
  transition: all 0.5s ease-in;
  padding: 10px;
}

.text-vcenter :hover {
  color: #00bfff;
  transition: all 0.7s ease-in;
}

.nav li a:hover {
  color: #00bfff;
  border-bottom: 2px solid #00bfff;
  transition: all 0.5s ease-in;
  padding: 10px;
}

.display-1 {
  font-size: 70px;
  color: #fff;
}

.display-1:hover {
  font-size: 85px;
  color: #00bfff;
  transition: all 0.5s ease-in;
}

li :hover {
  color: #00bfff;
  transition: all 0.5s ease-in;
  padding: 10px;
}

li a:hover {
  color: #cc6aff;
  border-bottom: 2px solid #00bfff;
  transition: all 0.5s ease-in;
  padding: 10px;
}

.text-center:hover {
  font-size: 25px;
  color: #00bfff;
  transition: all 0.7s ease-in;
}

#about {
  background: url(https://images.unsplash.com/photo-1540827495644-90aaf36f1540?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31e229e10295f5eba0d521f0853855b2&auto=format&fit=crop&w=668&q=80)
    no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#services {
  background: url(https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1296a4419a6c84e28281db0a564071ef&auto=format&fit=crop&w=800&q=60)
    no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information {
  background: url(https://images.unsplash.com/photo-1508782481636-fa17b04a578f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0fa734bc92f654f1660eeeef70606129&auto=format&fit=crop&w=800&q=60)
    no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
}

.col img {
  -webkit-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
}
#THP_img {
  -webkit-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-sizing: content-box;
}

.responsive-image {
  max-width: 100%;
}

a:hover {
  font-size: 20px;
  color: #0ad8eb;
  transition: all 0.7s ease-in;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .col {
    width: 100%;
  }
}

.col {
  margin: 1rem;
}

#mern {
  padding: 80px;
}

.myImg:hover {
  opacity: 0.7;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* #bottom-cell {
  margin-bottom: 60px;
} */

h4 {
  text-align: center;
}

.anchor-center {
  text-align: center;
}
