html,

body {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url("/images/Portrait.jpg");
  font-family: Occupied, Arial, sans-seriff;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: limegreen;
  font-size: x-large;
}

p {
  color: white;
  text-align: center;
}

#logo {
  background-image: url("images/white-text-logo.png");
}

.navTags {
  text-align: center;
  align-content: center;
}

.contactCPG {
  padding: 10px;
  color: white;
  border-style: solid;
  border-color: white;
}

#navItems {
  display: inline-block;
}

canvas.background {
  height: 100%;
}

.background {
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 0;
  z-index: 0;
  /* height: 75vh; */
}

#bodyContent {
  background: black;
  padding-top: 20px;
}

#bodyParagraph {
  background: black;
}

#customWebSolutions {
  padding-left: 10px;
  color: blueviolet;
}

#completeWebSolutions {
  padding-left: 10px;
  color: blueviolet;
}


h2 {
  color: blueviolet;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: bold;
}

h3 {
  color: blueviolet;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
  font-weight: bold;
}

h4 {
  color: blueviolet;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

h5 {
  color: blueviolet;
  padding-bottom: 10px;
}

li a:hover {
  color: #cc6aff;
  border-bottom: 2px solid blueviolet;
  transition: all 0.5s ease-in;
  padding: 10px;
}

#otherworkwedo {
  padding-top: 40px;
}


#customWebsitesAndApps {
  padding: 20px;
  width: 300px;
  height: 400px;
}

#trilogyImage {
  background-color: black;
}

.landingParagragh {
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  font-size: larger;
}

#paragraphHeading {
  color: white;
  padding-left: 10px;
  padding-bottom: 20px;
}

@font-face {
  font-family: "Occupied";
  src: url("/font/Occupied.eot?") format("eot"),
    url("/font/Occupied.woff") format("woff"),
    url("/font/Occupied.otf") format("otf"),
    url("/font/Occupied.woff2") format("woff2"),
    url("/font/Occupied.ttf") format("truetype"),
    url("/font/Occupied.svg#Occupied") format("svg");
  font-weight: 900;
  font-style: normal;
}


.col img {
  -webkit-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
}

.navTags:hover {
  font-size: 20px;
  color: blueviolet;
  transition: all 0.7s ease-in;
}

img:hover {
  opacity: 0.7;
}

.row .PayPal {
  text-align: center;
}

.PayPal {
  text-align: center;
}

/* form .PayPal {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid limegreen;
} */

#payPalContainer {
  border-top: 1px solid limegreen;
  border-bottom: 1px solid limegreen;
  padding-bottom: 40px;
}

/* #paypalTop {
  padding-top: 60px;
  border-top: 1px solid limegreen;
  border-width: .5em;
} */

#paypalBottom {
  padding-bottom: 60px;
}

#bottomLogo {
  padding-top: 60px;
}

#copyright {
  color: blueviolet;
  text-align: center;
}