@font-face {
  font-family: "Occupied";
  src: url("/font/Occupied.eot?") format("eot"),
    url("/font/Occupied.woff") format("woff"),
    url("/font/Occupied.otf") format("otf"),
    url("/font/Occupied.woff2") format("woff2"),
    url("/font/Occupied.ttf") format("truetype"),
    url("/font/Occupied.svg#Occupied") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Occupied;
}

.jumbotron {
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* a {
  background: #4389a2; 
} */

h2 {
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

#àLaCarte {
  color: black;
}

#standardPackages {
  padding-top: 100px;
}

@media only screen and (max-width: 576px) {
  h2 {
    margin-top: 20px;
  }
}

.card {
  -webkit-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 10px 5px -2px rgba(0, 0, 0, 0.75);
}

.navbar-brand:hover {
  color: #cc6aff;
  border-bottom: 2px solid #0ad8eb;
  transition: all 0.5s ease-in;
  padding: 10px;
}

li a:hover {
  font-size: 20px;
  border-bottom: 2px solid #00bfff;
  transition: all 0.5s ease-in;
  padding: 10px;
}

.text-vcenter :hover {
  color: #0ad8eb;
  transition: all 0.7s ease-in;
}

p {
  margin-top: 20px;
  color: white;
}
